.dropDownProfile {
    position: absolute;
    top: 100%; /* Adjust if necessary */
    right: 0; /* Aligns with the right edge of the button */
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid rgb(233, 232, 232);
    z-index: 10;
}

.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -.35rem;
    right: 1.1rem;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid rgb(233, 232, 232);
    border-top: 1px solid rgb(233, 232, 232);
}
